<div id="vol">
  <div id="history" style="display: none;">
    <table class="table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Avion</th>
          <th>Pilote</th>
          <th>Hauteur</th>
          <th>État</th>
          <th>Sauts</th>
          <th>Parachutistes</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let vol of volsFiltered()">
          <td>{{vol.id}}</td>
          <td>{{vol.avion.nom}}</td>
          <td>{{vol.pilote.numeroLicence}}</td>
          <td>{{vol.hauteurSautMax}}</td>
          <td>{{vol.etatVol}}</td>
          <td></td>
          <td>12/{{vol.avion.capacite}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <span><img class="arrow" (click)="changeAvion(-1)" src="../../assets/img/arrowleft.png"/></span>
    <span><img id="avion" src="../../assets/img/plane-logo.png"/></span>
    <span><img class="arrow" (click)="changeAvion(1)" src="../../assets/img/arrowright.png"/></span>
  </div>
  <div id="nomAvion">[&nbsp;{{this.srvAvion.avions[0].nom}}&nbsp;]</div>
</div>