<div id="histo">
  <table class="table table-bordered col-10">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Avion</th>
        <th scope="col">Pilote</th>
        <th scope="col">Nombre sauts</th>
        <th scope="col">Incident</th>
      </tr>
    </thead>

    <tbody *ngFor="let vol of srvVol.vols">
        <tr *ngIf="vol.etatVol == 'TERMINE'" class="ligne" (click)="affichageDetails(vol)">
          <th scope="row">{{ vol.dateVol }}</th>
          <td>{{ vol.avion.nom }}</td>
          <td>{{ vol.pilote.prenom }} {{ vol.pilote.nom }}</td>
          <td>{{ vol.sauts.length }}</td>
          <td>
          </td>
        </tr>
        <tr *ngIf="vol.etatVol == 'INCIDENT'" class="ligne incident" (click)="affichageDetails(vol)">
          <th scope="row">{{ vol.dateVol }}</th>
          <td>{{ vol.avion.nom }}</td>
          <td>{{ vol.pilote.prenom }} {{ vol.pilote.nom }}</td>
          <td>{{ vol.sauts.length }}</td>
          <td *ngIf="vol.etatVol == 'INCIDENT'">
            <div class="center">
              <i class="material-icons">error_outline</i>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="5" *ngIf="idAffichage == vol.id && affichage == 'Y'">
            <div class="categorie">Pilote</div>
            <div class="info">
              Nom : <span class="italique">{{ vol.pilote.nom }}</span> <br/>
              Prenom : <span class="italique">{{ vol.pilote.prenom }}</span> <br/>
              Numero de licence : <span class="italique">{{ vol.pilote.numeroLicence }}</span> <br/><br/>
            </div>

            <div class="categorie">Responsable vol</div>
            <div class="info">
              Nom : <span class="italique">{{ vol.respoVol.nom }}</span> <br/>
              Prenom : <span class="italique">{{ vol.respoVol.prenom }}</span> <br/>
              Numero de licence : <span class="italique">{{ vol.respoVol.numeroLicence }}</span> <br/><br/>
            </div>

            <div class="categorie">Responsable sol</div>
            <div class="info">
              Nom : <span class="italique">{{ vol.respoSol.nom }}</span> <br/>
              Prenom : <span class="italique">{{ vol.respoSol.prenom }}</span> <br/>
              Numero de licence : <span class="italique">{{ vol.respoSol.numeroLicence }}</span> <br/><br/>
            </div>

            <div class="categorie">Sauts</div>
              <div class="info" *ngFor="let saut of vol.sauts">
                Type Saut : <span class="italique">{{ saut.typeSaut }}</span> <br/>
                Hauteur Saut : <span class="italique">{{ saut.hauteurSaut }}</span> <br/>
                <span class="sousCategorie">Parachutistes :</span>
                <div class="sousInfo" *ngFor="let sauteur of saut.sauteurs">
                  Nom : <span class="italique">{{ sauteur.nom }}</span> <br/>
                  Prenom : <span class="italique">{{ sauteur.prenom }}</span> <br/>
                  Numero de licence : <span class="italique">{{ sauteur.numeroLicence }}</span> <br/><br/>
                  </div>
              </div>
          </td>
        </tr>

    </tbody>
  </table>
</div>