<div class="row" id="boutonMenuAvion">
    <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".menu" aria-expanded="false" aria-controls="menuAvion menuParachute">Avions / Parachutes</button>
</div>
<div class="row">
    <div class="collapse menu center" id="menuAvion">

        <br/>

        <div class="row center">
            <div class="card center">
                <form>
                    <div class="card-header centerText menuNewAvion">
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target=".newAvion" aria-expanded="false" aria-controls="formNewAvion boutonNewAvion">
                        <h3 class="card-title">Ajouter un nouvel avion</h3><i class="large material-icons">add</i></button>
                    </div>
                    <div class="card-body collapse newAvion" id="formNewAvion">
                        <div class="form-group row">
                            <label for="nom" class="col-sm-4 col-form-label">Nom : </label>
                            <div class="col-sm-8">
                                <input required type="text" name="nom" class="form-control" id="nom" [(ngModel)]="avion.nom" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="capacite" class="col-sm-8 col-form-label">Capacité (nombre de personnes hors pilote) : </label>
                            <div class="col-sm-4">
                                <input required type="number" name="capacite" class="form-control" id="capacite" [(ngModel)]="avion.capacite" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="etat" class="col-sm-4 col-form-label">Etat : </label>
                            <div class="col-sm-8">
                                <select required name="etat" [(ngModel)]="avion.etat" class="form-control" id="etat">
                                    <option disabled selected>Sélectionnez une option</option>
                                    <option [ngValue]="true">Disponible</option>
                                    <option [ngValue]="false">Non disponible</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nbreRota" class="col-sm-8 col-form-label">Autonomie (nombre de vols) : </label>
                            <div class="col-sm-4">
                                <input required type="number" name="nbreRota" class="form-control" id="nbreRota" [(ngModel)]="avion.nbreRota" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right collapse newAvion" id="boutonNewAvion">
                        <button *ngIf="!isEditingAvion" (click)="ajouterAvion()" data-toggle="collapse" data-target=".newAvion" aria-controls="formNewAvion boutonNewAvion" class="btn btn-secondary m-1">Ajouter</button>
                        <button *ngIf="isEditingAvion" (click)="modifierAvion()" data-toggle="collapse" data-target=".newAvion" aria-controls="formNewAvion boutonNewAvion" class="btn btn-warning m-1">Confirmer les modifications</button>
                        <button *ngIf="isEditingAvion" (click)="annulerAvion()" data-toggle="collapse" data-target=".newAvion" aria-controls="formNewAvion boutonNewAvion" class="btn btn-secondary m-1">Annuler</button>
                    </div>
                </form>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="card center">
                <div class="card-header">
                    <h2>Liste des Avions </h2>
                </div>
                <div class="card-body centerText">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Capacité</th>
                                <th>Etat</th>
                                <th>Autonomie (vols)</th>
                                <th></th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <ng-container *ngFor="let avion of this.srvAvion.avions">
                                <ng-container *ngIf="!avion.isDeleting">
                                    <tr>
                                        <td>{{ avion.id }}</td>
                                        <td>{{ avion.nom }}</td>
                                        <td>{{ avion.capacite }}</td>
                                        <td>
                                            <span *ngIf="this.avion.etat">Disponible</span>
                                            <span *ngIf="!this.avion.etat">Non disponible</span>
                                        </td>
                                        <td>{{ avion.nbreRota }}</td>
                                        <td>
                                            <button (click)="editerAvion(avion)" data-toggle="collapse" data-target=".newAvion" aria-controls="formNewAvion boutonNewAvion" class="btn btn-secondary m-1">Editer</button>
                                            <button (click)="confirmSupprimerAvion(avion)" class="btn btn-secondary m-1">Supprimer</button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="avion.isDeleting">
                                    <tr>
                                        <td colspan="5">
                                            Êtes-vous sûr de vouloir supprimer <b>{{ avion.nom }}</b> ?
                                        </td>
                                        <td>
                                            <button (click)="supprimerAvion(avion)" class="btn btn-warning m-1">OUI</button>
                                            <button (click)="annulerSupprimerAvion(avion)" class="btn btn-secondary m-1">NON</button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    
    <div class="collapse show menu" id="menuParachute">

        <br/>

        <div class="row">
            <div class="card cardNewParachute center" id="cardNewParachute">
                <form>
                    <div class="card-header centerText menuNewParachute">
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target=".newParachute" aria-expanded="false" aria-controls="formNewParachute boutonNewParachute">
                            <h3 *ngIf="!isEditingParachute" class="card-title">Ajouter un nouveau parachute</h3><i *ngIf="!isEditingParachute" class="large material-icons">add</i>
                            <h3 *ngIf="isEditingParachute" class="card-title">Modifier un parachute<span>ID : {{ parachute.id }}</span></h3>
                        </button>
                    </div>
                    <div class="card-body collapse newParachute" id="formNewParachute">
                        <div class="row">
                            <div class="form-group row col">
                                <label for="nomHarnais" class="col-sm-6 col-form-label">Nom du harnais : </label>
                                <div class="col-sm-6">
                                    <input required name="nomHarnais" type="text" class="form-control" id="nomHarnais" [(ngModel)]="parachute.nomHarnais" />
                                </div>
                            </div>
                            <div class="form-group row col">
                                <label for="systemeSecu" class="col-sm-6 col-form-label">Système de sécurité : </label>
                                <div class="col-sm-6">
                                    <select required name="systemeSecu" [(ngModel)]="parachute.systemeSecu" class="form-control" id="systemeSecu">
                                        <option disabled selected>Sélectionnez une option</option>
                                        <option [ngValue]="'VIGIL'">VIGIL</option>
                                        <option [ngValue]="'CYPRESS'">CYPRESS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row verticalSeparator">
                            <div class="form-group row col border-right">
                                <h5 class="col-12">Voile principale</h5>
                                <label for="nomVoilePrin" class="col-sm-4 col-form-label">Nom : </label>
                                <div class="col-sm-8">
                                    <input required  name="nomVoilePrin" type="text" class="form-control" id="nomVoilePrin" [(ngModel)]="parachute.nomVoilePrin" />
                                </div>
                                <label for="tailleVoilePrin" class="col-sm-6 col-form-label">Taille (pieds²) : </label>
                                <div class="col-sm-6">
                                    <input required name="tailleVoilePrin" type="number" class="form-control" id="tailleVoilePrin" [(ngModel)]="parachute.tailleVoilePrin" />
                                </div>
                                <label for="datePliageVoilePrin" class="col-sm-6 col-form-label">Date de pliage : </label>
                                <div class="col-sm-6">
                                    <input required name="datePliageVoilePrin" type="date" size="30" class="form-control" id="datePliageVoilePrin" [(ngModel)]="parachute.datePliageVoilePrin" />
                                </div>
                                <label for="plieurVoilePrin" class="col-sm-6 col-form-label">Plieur (N° de licence) : </label>
                                <div class="col-sm-6">
                                    <input name="plieurVoilePrin" type="number" class="form-control" id="plieurVoilePrin" [(ngModel)]="parachute.plieurVoilePrin" />
                                </div>
                            </div>
                            <div class="form-group col row">
                                <h5 class="col-12">Voile de secours</h5>
                                <label for="nomVoileSec" class="col-sm-4 col-form-label">Nom : </label>
                                <div class="col-sm-8">
                                    <input required name="nomVoileSec" type="text" class="form-control" id="nomVoileSec" [(ngModel)]="parachute.nomVoileSec" />
                                </div>
                                <label for="tailleVoileSec" class="col-sm-6 col-form-label">Taille (pieds²) : </label>
                                <div class="col-sm-6">
                                    <input required name="tailleVoileSec" type="number" class="form-control" id="tailleVoileSec" [(ngModel)]="parachute.tailleVoileSec" />
                                </div>
                                <label for="datePliageVoileSec" class="col-sm-6 col-form-label">Date de pliage : </label>
                                <div class="col-sm-6">
                                    <input required name="datePliageVoileSec" type="date" size="30" class="form-control" id="datePliageVoileSec" [(ngModel)]="parachute.datePliageVoileSec" />
                                </div>
                                <label for="plieurVoileSec" class="col-sm-6 col-form-label">Plieur (N° de licence) : </label>
                                <div class="col-sm-6">
                                    <input name="plieurVoileSec" type="number" class="form-control" id="plieurVoileSec" [(ngModel)]="parachute.plieurVoileSec" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col row">
                                <label for="centre" class="col-sm-6 col-form-label">Parachute perso ? </label>
                                <div class="col-sm-6">
                                    <select required name="centre" [(ngModel)]="parachute.centre" class="form-control" id="centre">
                                        <option disabled selected>Sélectionnez une option</option>
                                        <option [ngValue]="true">Non</option>
                                        <option [ngValue]="false">Oui</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col row">
                                <label for="dispo" class="col-sm-6 col-form-label">Disponible ? </label>
                                <div class="col-sm-6">
                                    <select required name="dispo" [(ngModel)]="parachute.dispo" class="form-control" id="dispo">
                                        <option disabled selected>Sélectionnez une option</option>
                                        <option [ngValue]="true">Oui</option>
                                        <option [ngValue]="false">Non</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right collapse newParachute" id="boutonNewParachute">
                        <button *ngIf="!isEditingParachute" type="submit" (click)="ajouterParachute()" data-toggle="collapse" data-target=".newParachute" aria-controls="formNewParachute boutonNewParachute" class="btn btn-secondary m-1">Ajouter</button>
                        <button *ngIf="isEditingParachute" (click)="modifierParachute()" data-toggle="collapse" data-target=".newParachute" aria-controls="formNewParachute boutonNewParachute" class="btn btn-warning m-1">Confirmer les modifications</button>
                        <button *ngIf="isEditingParachute" (click)="annulerParachute()" data-toggle="collapse" data-target=".newParachute" aria-controls="formNewParachute boutonNewParachute" class="btn btn-secondary m-1">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    
        <br/>
    
        <div class="row">
            <div class="card cardParachute center">
                <div class="card-header row noMargin">
                    <div class="col-8">
                        <h2>Liste des Parachutes </h2>
                    </div>
                    <div class="col-4">
                        <input type="test" [(ngModel)]="filterParachute"/>&nbsp;&nbsp;&nbsp;<i class="large material-icons">search</i>
                    </div>
                </div>
                <div class="card-body centerText">
                    <table class="listParachutes table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Harnais</th>
                                <th>Voile principale</th>
                                <th>Voile de secours</th>
                                <th>Perso</th>
                                <th>Dispo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let parachute of parachutesFiltered()">
                                <tr class="pointer">
                                    <td (click)="detailsPliage(parachute)">{{ parachute.id }}</td>
                                    <td (click)="detailsPliage(parachute)">
                                        {{ parachute.nomHarnais }}<br />
                                        <span>Sécu : </span>{{ parachute.systemeSecu }}
                                    </td>
                                    <td (click)="detailsPliage(parachute)">
                                        {{ parachute.nomVoilePrin }}<br/>
                                        <span>Taille : </span>{{ parachute.tailleVoilePrin }}
                                        <p *ngIf="parachute.detailPliage">
                                            <span>Plieur : </span>{{ parachute?.plieurVoilePrin?.nom }} {{ parachute?.plieurVoilePrin?.prenom }}<br/>
                                            <span>Date : </span>{{ parachute?.datePliageVoilePrin }}
                                        </p>
                                    </td>
                                    <td (click)="detailsPliage(parachute)">
                                        {{ parachute.nomVoileSec }}<br/>
                                        <span>Taille : </span>{{ parachute.tailleVoileSec }}
                                        <p *ngIf="parachute.detailPliage">
                                            <span>Plieur : </span>{{ parachute?.plieurVoileSec?.nom }} {{ parachute?.plieurVoilePrin?.prenom }}<br/>
                                            <span>Date : </span>{{ parachute?.datePliageVoileSec }}
                                        </p>
                                    </td>
                                    <td (click)="detailsPliage(parachute)">
                                        <span *ngIf="this.parachute.centre == true">Non</span>
                                        <span *ngIf="this.parachute.centre == false">Oui</span>
                                    </td>
                                    <td (click)="detailsPliage(parachute)">
                                        <span *ngIf="this.parachute.dispo == true">Oui</span>
                                        <span *ngIf="this.parachute.dispo == false">Non</span>
                                    <td>
                                        <div class="bouton">
                                            <button (click)="editerParachute(parachute)" data-toggle="collapse" data-target=".newParachute" aria-controls="formNewParachute boutonNewParachute" class="btn btn-secondary m-1">Editer</button>
                                            <button (click)="supprimerParachute(parachute)" class="btn btn-secondary m-1">Supprimer</button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />