.centerText {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.listParachutes tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

.listParachutes thead, .listParachutes tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.listParachutes thead {
    width: 98.5%;
}

.listParachutes td:nth-child(1), .listParachutes th:nth-child(1) {
    width: 5%;
}
.listParachutes td:nth-child(2), .listParachutes td:nth-child(3), .listParachutes td:nth-child(4), .listParachutes th:nth-child(2), .listParachutes th:nth-child(3), .listParachutes th:nth-child(4) {
    width: 18%;
}
.listParachutes td:nth-child(5), .listParachutes td:nth-child(6), .listParachutes th:nth-child(5), .listParachutes th:nth-child(6) {
    width: 10%;
}

thead {
    background-color: lightblue;
  }

.container {
    width: 100%;
    margin: 0 auto;
}

#cardNewParachute {
    width: 70%;
}

.cardParachute {
    width: 90%;
}

#menuParachute input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }

#menuParachute input[type=number]::-webkit-inner-spin-button, 
#menuParachute input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.noMargin {
    margin-right: 0px;
    margin-left: 0px;
}

.verticalSeparator > div {
    margin-right: 0px;
    margin-left: 0px;
}

.collapse, .collapsing {
    width: 100%;
    max-width: 1200px;
    min-width: 400px;
}

.pointer {
    cursor: pointer;
}