.centerText {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

#cardNewParachute {
    width: 70%;
}

.cardParachute {
    width: 80%;
}

#menuParachute input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }

#menuParachute input[type=number]::-webkit-inner-spin-button, 
#menuParachute input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.noMargin {
    margin-right: 0px;
    margin-left: 0px;
}

.verticalSeparator > div {
    margin-right: 0px;
    margin-left: 0px;
}

.collapse {
    width: 100%;
    max-width: 1200px;
    min-width: 400px;
}

.pointer {
    cursor: pointer;
}