<h1>Terminer un vol</h1>

<br/>


<div class="container-fluid">
  <h1>Informations du vol à cloturer </h1>
  <div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Numero de Licence</th>
            <th>Parachutiste</th>
            <th>Drop Zone</th>
            <th>Incident Parachute</th>
            <th>Plieur Voile</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let saut of srvVol.volTermine.sauts">
            Saut n°{{ saut.id }} <br/>
            <ng-container *ngFor="let parachute of srvParachute.parachutes">
              <ng-container *ngFor="let sauteur of saut.sauteurs">

            <tr *ngIf="parachute.id == sauteur.numeroParachute && parachute.dispo == false">
              <td>{{sauteur.numeroLicence}}</td>

              <td>{{sauteur.prenom}} {{sauteur.nom}}</td>

              <td>  <!--Attribution de la beer Line-->
                <input type="checkbox" [(ngModel)]="sauteur.beerLine" (change)="attribuerBL(sauteur.beerLine?'true':'false', sauteur.nom)" /> Beer Line
              </td>

              <td> <!--Si Oui, disable bouton plieur et mettre parachute en indisponible/révision si emprunt sinon-->
                <input type="checkbox" [(ngModel)]="sauteur.voileSecUsed"(change)="utilisationSec(sauteur.voileSecUsed?'true':'false')" /> Utilisation voile secondaire
              </td>


                <td *ngIf="parachute.centre == true" > <!--Gestion du plieur-->
                  <span *ngIf="sauteur.voileSecUsed == false">Voile Principale</span>
                  <span *ngIf="sauteur.voileSecUsed">Voile Secours</span><br/>
                  <select required *ngIf="sauteur.voileSecUsed == false" [(ngModel)]="membre" required>
                    <option *ngFor="let membre of srvMembre.membres" [ngValue]="membre">
                      {{membre.prenom}} {{membre.nom}}
                    </option>
                  </select>
                </td>

                <td *ngIf="parachute.centre == false" > <!--Gerer le plieur-->
                  Parachute perso
                </td>


                <td *ngIf="parachute.id == sauteur.numeroParachute">
                  <button (click)="cloturerVolSauteur(sauteur, parachute, saut)">Valider</button>
                </td>

            </tr>
          </ng-container>
          </ng-container>
          </ng-container>
        </tbody>
    </table>

    <button (click)="clotureVol()">Cloturer le vol</button>


  </div>
</div>
