<h1>Terminer un vol</h1>

<br/>


<div class="container-fluid">
  <h1>Informations du vol à cloturer </h1>
  <div *ngIf="srvVol.vol.etatVol == 'TERMINE'">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Numero de Licence</th>
            <th>Parachutiste</th>
            <th>Drop Zone</th>
            <th>Utilisation voile secondaire</th>
            <th>Plieur Voile</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let saut of srvVol.vol.sauts">
            Saut n°{{ saut.id }}
            <tr *ngFor="let sauteur of saut.sauteurs">
              <td>{{sauteur.numeroLicence}}</td>

              <td>{{sauteur.prenom}} {{sauteur.nom}}</td>

              <td>  <!--Attribution de la beer Line-->
                <input type="checkbox" (click)="beerLine(saut, sauteur)"/> Beer Line
              </td>

              <td> <!--Si Oui, disable bouton plieur et mettre parachute en indisponible/révision si emprunt sinon-->
                <input type="checkbox" (click)="checkbox()" />
              </td>

              <ng-container *ngFor="let parachute of srvParachute.parachutes">
                <td *ngIf="parachute.id == sauteur.numeroParachute && parachute.centre == true" [style.background-color]="parachute.dispo | parachutisteValide"> <!--Gerer le plieur-->
                  <span *ngIf="secHaveBeenUsed == false">Voile Principale</span>
                  <span *ngIf="secHaveBeenUsed">Voile Secondaire</span><br/>
                  <select  [(ngModel)]="membre" required>
                    <option *ngFor="let membre of srvMembre.membres" [ngValue]="membre">
                      {{membre.prenom}} {{membre.nom}}
                    </option>
                  </select>
                </td>
                <td *ngIf="parachute.id == sauteur.numeroParachute && parachute.centre == false" [style.background-color]="parachute.dispo | parachutisteValide"> <!--Gerer le plieur-->
                  Parachute perso
                </td>
              </ng-container>

              <ng-container *ngFor="let parachute of srvParachute.parachutes">
                <td *ngIf="parachute.id == sauteur.numeroParachute">
                  <button (click)="cloturerVolSauteur(sauteur, parachute)">Valider</button>
                </td>
              </ng-container>

            </tr>
          </ng-container>
        </tbody>
    </table>

    <button (click)="clotureVol()">Cloturer le vol</button>


  </div>
</div>
