<!-- Ajout en ligne
    <td class="pointer" colspan="5" *ngIf="isNew && !isEditing">Nouveau ..</td>

<td *ngIf="isNew && isEditing">{{ avion.id }}</td>

<td *ngIf="isNew && isEditing">
    <input class="form-control" type="text" [(ngModel)]="avion.nom" />
</td>
    
<td *ngIf="isNew && isEditing">
    <input class="form-control center" type="number" size="5" [(ngModel)]="avion.capacite" />
</td>
    
<td *ngIf="isNew && isEditing">
    <select [(ngModel)]="avion.etat" class="form-control" id="etat">
        <option [ngValue]="true">Disponible</option>
        <option [ngValue]="false">Non disponible</option>
    </select>
</td>
    
<td *ngIf="isNew && isEditing">
    <input class="form-control" type="number" size="5" [(ngModel)]="avion.nbreRota" />
</td>
    
<td *ngIf="isNew && isEditing">
    <button *ngIf="isEditing" (click)="edit()" class="btn btn-secondary m-1">Ajouter</button>
    <button *ngIf="isEditing" (click)="cancel()" class="btn btn-secondary m-1">Annuler</button>
</td>
-->
    

<!-- Avion existant -->
<td *ngIf="!isNew && !isDeleting" [class.edit]="isEditing">
    <span>{{ avion.id }}</span>
</td>

<td *ngIf="!isNew && !isDeleting">
    <span *ngIf="!isEditing">{{ avion.nom }}</span>
    <input *ngIf="isEditing" type="text" [(ngModel)]="avion.nom" />
</td>

<td *ngIf="!isNew && !isDeleting">
    <span *ngIf="!isEditing">{{ avion.capacite }}</span>
    <input *ngIf="isEditing" class="center" type="number" size="5" [(ngModel)]="avion.capacite" />
</td>

<td *ngIf="!isNew && !isDeleting">
    <span *ngIf="!isEditing && this.avion.etat == true">Disponible</span>
    <span *ngIf="!isEditing && this.avion.etat == false">Non disponible</span>

    <select *ngIf="isEditing" [(ngModel)]="avion.etat" class="form-control" id="etat">
        <option [ngValue]="true">Disponible</option>
        <option [ngValue]="false">Non disponible</option>
    </select>
</td>

<td *ngIf="!isNew && !isDeleting">
    <span *ngIf="!isEditing">{{ avion.nbreRota }}</span>
    <input *ngIf="isEditing" class="form-control" type="number" size="5" [(ngModel)]="avion.nbreRota" />
</td>

<td *ngIf="!isNew && !isDeleting">
    <button *ngIf="!isEditing" (click)="onDblClick()" class="btn btn-secondary m-1">Editer</button>
    <button *ngIf="!isEditing" (click)="askDelete()" class="btn btn-secondary m-1">Supprimer</button>

    <button *ngIf="isEditing" (click)="edit()" class="btn btn-warning m-1">Appliquer</button>
    <button *ngIf="isEditing" (click)="cancel()" class="btn btn-secondary m-1">Annuler</button>
</td>


<td colspan="3" *ngIf="isDeleting" [class.delete]="isDeleting">
    Êtes-vous sûr de vouloir supprimer <b>{{ avion.id }}</b> ?
</td>

<td *ngIf="isDeleting">
    <button (click)="delete()" class="btn btn-danger m-1">OUI</button>
    <button (click)="cancel()" class="btn btn-secondary m-1">NON</button>
</td>