#body {
    background-color: #9ee1ff;
    height: auto;
}

#logo{
    cursor: pointer;
    position: relative; top : 1%; left : 43%;
    width: 270px;
    height: 100px;
    transition: all .3s ease-out;
}

#logo:hover
{
	filter: drop-shadow(0 0 0.1rem #9ee1ff);
}

#bandeauHaut {
    position: relative;
    background-color: #1a1a1a;
    height: 15%;
    background-size: 100% 15%;
    margin-left: 0px;
    margin-right: 0px;
}

#ligneBandeau{

    position : relative;
    background: linear-gradient(to right, #00053b 10%, #00a9b5 50%, #00053b 90%);
    height : 2px;
    margin-left: 0px;
    margin-right: 0px;
}

#ligneInscription {

    position: relative; bottom: 10px;
    background: linear-gradient(to right, #9ee1ff 37%, #013cff, #9ee1ff 63%);
    height : 2px;
    margin-left: 0px;
    margin-right: 0px;
}

#ligneListeVols{

    position: relative; bottom: 10px;
    background: linear-gradient(to right, #9ee1ff 37%, #013cff, #9ee1ff 63%);
    height : 2px;
    margin-left: 0px;
    margin-right: 0px;

}

#portailFond {
    position: relative;
    background-color: #9ee1ff;
    height : 100%;
    background-size: 100% 100%;

}

.titresPortail {
    cursor: pointer;
    font-size: 32px;
    font-weight: 650;
    color: black;
    text-align: center;
    transition: all .3s ease-out;
}

.titresPortail:hover
{
    filter: drop-shadow(0 0 0.5rem #4091b6);
    transform: translate(0px, -2px);
}

.sousTitresPortail {

    font-size: 20px;
    font-weight: 450;
    color: black;
}

.champ{

    border: 1px solid;
    border-color: #0051ff;
}

.divTable {
    width: 1000px;
}

.trAff {
    cursor: pointer;
}

.table {

}