<body id="body">
	<div id="bandeauHaut">
		<img src="/assets/img/logo.png" id="logo" (click)="accueil()">
	</div>
	<div id="ligneBandeau"></div>

	<div class="container-fluid" id="portailFond">

		<br><br>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 titresPortail" (click)="afficherIncript()">Inscription saut</div>
		</div>
		<br>
		<div id="ligneInscription"></div>

		<div class="sousContainer" *ngIf="inscrVisible">
			<form name="inscription">

				<div class="row">
					<div class="col-1"></div>
					<div class="col-2 sousTitresPortail">Type de saut</div>
				</div>

				<div class="row">
					<div class="col-1"></div>
					<select class="form-control col-2 champ" id="typeSaut" [(ngModel)]="fileAttente.typeSaut" name="ts">
						<option value="SOLO" *ngIf="fileAttente.typeSaut=='SOLO' || nbPers<2" selected>Solo</option>
						<option value="GROUPE" *ngIf="fileAttente.typeSaut=='GROUPE' || nbPers==0">Groupe</option>
						<option value="TANDEM" *ngIf="fileAttente.typeSaut=='TANDEM' || nbPers<2">Tandem</option>
					</select>
				</div>
				<br>
				<div class="row">
					<div class="col-1"></div>
					<div class="col-2 sousTitresPortail">Hauteur souhaitée (m)</div>
				</div>

				<div class="row">
					<div class="col-1"></div>
					<select class="form-control col-2 champ" id="hauteur" [(ngModel)]="fileAttente.hauteurSouhaitee" name="hs">
						<option value="H1200" selected >1200</option>
						<option value="H1600">1600</option>
						<option value="H2000">2000</option>
						<option value="H4000">4000</option>
						<option value="H6000">6000</option>
					</select>
				</div>
				<br>

				<div class="row">
					<div class="col-1"></div>
					<div class="col-2 sousTitresPortail">Nom</div>
					<div class="col-2"></div>
					<div class="col-2 sousTitresPortail">Numéro de parachute</div>
				</div>

				<div class="row">
					<div class="col-1"></div>

					<input type="text" class="form-control col-2 champ" placeholder="recherche membre" [(ngModel)]="filterMembre" name="fm"/>

					<div class="col-2">
						<select class="form-control champ" [(ngModel)]="membre" name="m">
							<option *ngFor="let membre of membresFiltered()" [ngValue]="membre">{{membre.prenom}} {{membre.nom}}</option>
						</select>
					</div>

					<input type="number" class="form-control col-2 champ" placeholder="recherche parachute" [(ngModel)]="filterNumPara" name="fnp"/>

					<div class="col-2">
						<select  class="form-control champ" [(ngModel)]="membre.numeroParachute" name="p">
							<option *ngFor="let parachute of parachuteFiltered()" [ngValue]="parachute.id">
								{{parachute.id}}
								<span *ngIf="parachute.centre == false"> perso</span>
								<span *ngIf="parachute.centre == true"> club</span>
							</option>
						</select>
					</div>
					<div class="col-3">
						<button *ngIf="peutAjouterSauteur() && membre && membre.numeroParachute" class="btn btn-primary col-8 m-1" (click)="ajouterSauteur()">Ajouter</button>
						<button *ngIf="isEditing" (click)="modifierSauteur()" class="btn btn-primary col-8 m-1">Valider</button>
					</div>
				</div>
				<br>

				<div class="row">
					<table  class="table table-striped col-12">
						<thead>
							<tr>
								
							</tr>
						</thead>
						<tbody class="tablMem">
							<tr *ngFor="let sauteur of fileAttente.sauteurs" class="row">
								<td class="col-1"><div class="coteTabl"></div></td>
								<td class="col-4"><span class="tablMem">{{sauteur.prenom}} {{sauteur.nom}}</span></td>
								<td class="col-4"><span class="tablMem">{{sauteur.numeroParachute}}</span></td>
								<td class="col-2">
									<button *ngIf="!isEditing" (click)="editerSauteur(sauteur)" class="btn btn-light col-5 m-1">Editer</button>
									<button *ngIf="!isEditing" (click)="supprimerSauteur(sauteur)" class="btn btn-dark col-5 m-1">Supprimer</button>
								</td>
								<td class="col-1"><div class="coteTabl"></div></td>
							</tr>
						</tbody>
					</table>
				</div>

				<br>
				<div class="row">
					<div class="col-1"></div>
					<button *ngIf="peutSauter()" (click)="ajouterFileAttente()" class="btn btn-primary col-3">Sauter</button>
				</div>
				<br>
			</form>
		</div>

		<br><br><br>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 titresPortail" (click)="afficherVols()">Liste des vols</div>
		</div>
		<br>
		<div id="ligneListeVols"></div>

		<div class="sousContainer" *ngIf="volsVisible">
			<br>
			<br>
			<div class="row">
				<div class="col-1"></div>
				<table class="table table-striped col-10">
					<thead>
						<tr>
							<th>Capacité</th>
							<th>Responsable en vol</th>
							<th>Responsable au sol</th>
							<th>Hauteur maximale</th>
							<th>Etat</th>
						</tr>
					</thead>
					<tbody *ngFor="let vol of volFiltered()" class="tablVS">
						<tr  class="trAff" (click)="affichageDetailsVol(vol)">
							<td>{{ vol.avion.capacite }}</td>
							<td>{{ vol.respoVol.prenom }} {{ vol.respoVol.nom }}</td>
							<td>{{ vol.respoSol.prenom }} {{ vol.respoSol.nom }}</td>
							<td>{{ vol.hauteurSautMax }}</td>
							<td>{{ vol.etatVol }}</td>
						</tr>
						<tr (click)="affichageDetailsVol(vol)">
							<td colspan="5" *ngIf="idAffichageVol == vol.id && affichageVol">
								<p><b>Liste des parachutistes:</b>
									<span *ngFor="let saut of vol.sauts">
										<span class="col-1" *ngFor="let membre of saut.sauteurs">{{membre.prenom}} {{membre.nom}}</span>
									</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<br><br><br>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 titresPortail" (click)="afficherSauts()">Historique des sauts</div>
		</div>
		<br>
		<div id="ligneListeVols"></div>

		<div class="sousContainer" *ngIf="sautsVisible">
			<br>
			<br>
			<div class="row">
				<div class="col-1"></div>
				<table class="table table-striped col-10">
					<thead>
						<tr class="trTable">
							<th>Parachutistes</th>
							<th>Date du saut</th>
							<th>Hauteur</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody *ngFor="let vol of srvVol.vols" class="tablVS">
						<tr *ngFor="let saut of vol.sauts" class="trAff" (click)="affichageDetailsSaut(saut)">
							<td *ngIf="idAffichageSaut != saut.id || !affichageSaut">Cliquer pour dérouler</td>
							<td *ngIf="idAffichageSaut == saut.id && affichageSaut"><p><b>Liste des parachutistes:</b></p>
								<p *ngFor="let membre of saut.sauteurs">{{membre.prenom}} {{membre.nom}}</p>
							</td>
							<td>{{ vol.dateVol }}</td>
							<td>{{ saut.hauteurSaut }}</td>
							<td>{{ saut.typeSaut }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<br><br><br>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 titresPortail" (click)="afficherVideos()">Vidéos</div>
		</div>
		<br>
		<div id="ligneListeVols"></div>

		<div class="sousContainer" *ngIf="videosVisible">
			<br>
			<br>
			<div class="form-row">
				<div class="col-md-1 mb-3"></div>
				<div class="col-md-8 mb-3">
					<input type="text" class="form-control" placeholder="Coller le lien de la vidéo" [(ngModel)]="srcVideo">
				</div>
				<div class="col-md-2 mb-3">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFileLang" lang="fr" [(ngModel)]="srcVideo">
						<label class="custom-file-label" for="customFileLang">Selectionner une vidéo</label>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="video" *ngIf="!lecteurVisible">
				<img src="/assets/img/Video.png"  (click)="affichageLecteur()">
			</div>
			
			<div class="video" *ngIf="lecteurVisible">
				<iframe width="896" height="504" 
				src="https://www.youtube-nocookie.com/embed/3vSv8-5sF4A?version=3&enablejsapi=1&html5=1&volume=0&hd=1&wmode=opaque&showinfo=0&rel=0;;origin=https://www.parachutisme.nc;&controls=1&playsinline=1" 
				frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="video" *ngIf="false">
				<iframe width="896" height="504" src="https://www.youtube-nocookie.com/embed/2X_xkX_9qfA" 
				frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="video" *ngIf="lecteurVisible">
				<video *ngIf="lecteurVisible"  width=auto  height=auto controls poster="/assets/img/Video.png" (click)="affichageLecteur()">
					<source src="{{srcVideo}}" type="video/mp4" />
				</video>
			</div>
			<br>
			<br>
		</div>
	</div>
</body>
