<div class="card m-3">
	<div class="card-header">
		<h2>Inscription saut</h2>
	</div>
	<div class="card-body">
		<div class="form-group row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type de saut</th>
						<th>Hauteur souhaitée (m)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select class="form-control" id="typeSaut" [(ngModel)]="fileAttente.typeSaut">
								<option value="SOLO" selected>Solo</option>
								<option value="GROUPE">Groupe</option>
								<option value="TANDEM">Tandem</option>
							</select>
						</td>
						<td>
							<select class="form-control" id="hauteur" [(ngModel)]="fileAttente.hauteurSouhaitee">
								<option value="H1200">1200</option>
								<option value="H1600">1600</option>
								<option value="H2000">2000</option>
								<option value="H4000">4000</option>
								<option value="H6000">6000</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Numero de parachute</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="form-row">
								<div class="col">
									<input type="text" class="form-control" placeholder="recherche membre" [(ngModel)]="filterMembre"/>
								</div>
								<div class="col">
									<select class="form-control" [(ngModel)]="membre">
										<option *ngFor="let membre of membresFiltered()" [ngValue]="membre">{{membre.prenom}} {{membre.nom}}</option>
									</select>
								</div>

								<!-- <div class="col">
									<input class="form-control" type="text"  list="codes" [(ngModel)]="membre" (change)="saveCode(membre)">
									<datalist id="codes">
										<option *ngFor="let m of srvMembre.membres" [value]="m" >{{m.prenom}} {{m.nom}}</option>
									</datalist>
								</div> -->
							</div>
						</td>
						<td>
							<div class="form-row">
								<div class="col">
									<input type="number" min="0" class="form-control" placeholder="recherche parachute"  [(ngModel)]="filterNumPara"/>
								</div>
								<div class="col">
									<select  class="form-control" [(ngModel)]="membre.numeroParachute">
										<option value="0">Parachute personnel</option>
										<option *ngFor="let parachute of numParaFiltered()" [ngValue]="parachute.id">
											{{parachute.id}}
										</option>
									</select>
								</div>
							</div>
						</td>
						<td>
							<button *ngIf="!isEditing" class="btn btn-primary" (click)="ajouterSauteur()">Ajouter</button>
							<button *ngIf="isEditing" (click)="modifierSauteur()" class="btn btn-primary m-1">Valider</button>
						</td>
					</tr>
					<tr *ngFor="let sauteur of fileAttente.sauteurs">
						<td>{{sauteur.prenom}} {{sauteur.nom}}</td>
						<td>{{sauteur.numeroParachute}}</td>
						<td>
							<button *ngIf="!isEditing" (click)="editerSauteur(sauteur)" class="btn btn-warning m-1">Editer</button>
							<button *ngIf="!isEditing" (click)="supprimerSauteur(sauteur)" class="btn btn-danger m-1">Supprimer</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button *ngIf="valider && fileAttente.hauteurSouhaitee && !isEditing" (click)="ajouterFileAttente()" class="btn btn-primary">Sauter</button>
	</div>
</div>



<h2>Liste des vols</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Capacité</th>
			<th>Responsable en vol</th>
			<th>Responsable au sol</th>
			<th>Hauteur maximal</th>
			<th>Etat</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let vol of srvVol.vols">
			<td>{{ vol.avion.capacite }}</td>
			<td>{{ vol.respoVol.prenom }} {{ vol.respoVol.nom }}</td>
			<td>{{ vol.respoSol.prenom }} {{ vol.respoSol.nom }}</td>
			<td>{{ vol.hauteurSautMax }}</td>
			<td>{{ vol.etatVol }}</td>
		</tr>
	</tbody>
</table>