.tableMembre tbody {
    display: block;
    height: 400px;
    overflow-y: scroll;
  }
  
thead, tbody tr, tfoot tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

tbody tr td, tfoot tr th, tfoot tr td {
  line-height: 1rem;
  vertical-align: middle;
}

.tableMembre thead {
  background-color: lightblue;
  width:98.5%;
}

.tableMembre td:nth-child(5), .tableMembre th:nth-child(5) {
  width: 30%;
}
.listParachutes td:nth-child(2), .listParachutes td:nth-child(1), .listParachutes th:nth-child(2), .listParachutes th:nth-child(1) {
  width: 20%;
}

.collapse, .collapsing {
  width: 100%;
  max-width: 1100px;
  min-width: 600px;
}

.center {
  margin: 0 auto;
}

.bouton {
  float: right;
}