.tableMembre tbody {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
  }
  
.tableMembre thead, tbody tr, tfoot tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

.tableMembre tbody tr td, tfoot tr th, tfoot tr td {
  line-height: 1rem;
  vertical-align: middle;
}

.tableMembre thead {
  background-color: lightblue;
}

.tableMembre tfoot {
  background-color: lightgrey;
}

.btn {
  height: 2rem;
}

