.tableMembre tbody {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
  }
  
.tableMembre thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

.tableMembre thead,
  tfoot tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }